@page "/"
@using Libra_Nest.Data
@using Newtonsoft.Json.Linq
@inject NavigationManager NavigationManager

<h1>Hello, world!</h1>
@* @if (books != null) *@
@* { *@
@*     <p>@books["results"][0]</p> *@
@* } *@


Welcome to your new app.

@code
{

}