@page "/"
@using Libra_Nest.Data
@using Newtonsoft.Json.Linq
@inject NavigationManager NavigationManager

<h1>Libra Nest!</h1>

<h2>Welcome to your Libra Nest,</h2>
<p>The greatest library management system.</p>
@code
{

}